<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497739639802-ekj558jvrtleunnsn0vtmth1dmff08l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497739639802-ekj558jvrtleunnsn0vtmth1dmff08l3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>497739639802-lkc13g37n12p3qdidq8ivf6f7cvjq95q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApmTE733s9pjI42uY_YOafWVyfbYcmLfw</string>
	<key>GCM_SENDER_ID</key>
	<string>497739639802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.121.VSMS</string>
	<key>PROJECT_ID</key>
	<string>shoppesit</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppesit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497739639802:ios:d7e579a4932c5273</string>
	<key>DATABASE_URL</key>
	<string>https://shoppesit.firebaseio.com</string>
</dict>
</plist>